
@{
    ViewBag.Title = "index";
}
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="~/Scripts/MicroOndas.js"></script>

<h1>MICRO-ONDAS DIGITAL</h1>
<div class="alert alert-warning" role="alert">
</div>
@using (Html.BeginForm())
{
    <p>
        @Html.TextBox("parametrosEntradas", null, new { placeholder = "Parâmetros de entrada", @class = "form-control" })
    </p>
    <p>
        <button type="button" id="btnEnviarParametrosEntradas" class="btn btn-primary">Iniciar</button>
        <button type="button" id="btnInicioRapido" class="btn btn-primary">Inicio Rápido</button>
        <button type="button" id="btnListarFuncoes" class="btn btn-primary">Listar Funções Pré-Programadas</button>
    </p>
}

<div id="listaPreDefinicoes">
</div>